.img {
    width: 100px;
}

.parent {
    background-image: url("../img/bgTest.png");
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 180px;
    flex-wrap: wrap;
    direction: rtl;
    /* background-color: #f3f3f3; */


}


.blocImg {}

#items {
    font-size: 17px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
}

#items:hover {
    color: #0075ae;
}

.title {
    font-size: 50px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    color: #434194;


}

.parag {
    font-size: 25px;
    padding-bottom: 20px;
    width: 700px;
    text-align: justify;
}

.imgHome {
    width: 300px;
}


@media only screen and (max-width: 992px) {
    .title {
        font-size: 25px;
    }

    .parag {
        font-size: 17px;

        width: 500px;
    }

    .imgHome {
        width: 200px;
    }

    .parent {
        background-image: none;
    }
}

@media only screen and (max-width: 600px) {
    .parag {
        font-size: 17px;

        width: 250px;
    }
}