.WidghtLg {
    background-image: url("../img/WhatsApp\ Image\ 2023-11-24\ at\ 13.02.05.jpeg");
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    /* height: 100vh; */
}

.container {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


#table {
    direction: rtl;
    max-width: 950px;
}

.calen {
    width: 100px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.blocCalender {
    margin-left: 50px;
}

.titleCale {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .WidghtLg {
        background-image: none;
    }

    .container {
        padding: 0px;

    }
}